body {
    background-color:#FFBB00;
}

.navbar-container {
    background-color: #34DD9A  
}

.ul-navbar {
    background-color: #ff66bc 
    width: 20%
    height: 100px
}

.li-navbar {
border: 2px solid #BB88ED

}